/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: rgb(242, 244, 245);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
}

/* Loader */
.loader {
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: none;
}

.loader img {
  width: 120px;
}

/* Container */
.container,
.favorites-container {
  text-align: center;
  width: 50vw;
}

nav {
  position: fixed;
  z-index: 3;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  left: 0;
  top: 0;
  right: 0;
  background: whitesmoke;
  font-weight: bold;
}

#favorites,
#load-more {
  color: cornflowerblue;
  user-select: none;
  font-size: 20px;
}

#favorites:hover,
#load-more:hover {
  filter: brightness(0.8);
}

#dot {
  font-size: 40px;
  display: inline-block;
  margin-left: 10px;
}

a {
  text-decoration: none;
  color: blue;
  cursor: pointer;
  user-select: none;
}

a:visited {
  color: blue;
}

a:hover {
  filter: brightness(0.8);
}

/* Card */
.cards-container {
  position: relative;
  top: 90px;
}
.card {
  background: white;
  text-align: left;
  font-size: 16px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 5px 5px 20px 0 black;
}

img,
video {
  margin: 0;
  width: 100%;
  height: 400px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.info {
  padding: 20px;
}

.copyright-details {
  padding: 20px 20px 50px 20px;
}

.date {
  margin-right: 10px;
  font-weight: bold;
}

/* Added */
.added {
  position: fixed;
  font-size: 16px;
  bottom: 10px;
  right: 50px;
  border: 1px solid black;
  background: white;
  border-radius: 5px;
  padding: 5px;
  border: none;
  visibility: hidden;
}

/* Media Queries */
@media screen and (max-width: 800px) {
  .container,
  .favorites-container {
    width: 95vw;
  }
  nav {
    width: 95vw;
  }
  .description {
    text-align: justify;
  }
}
